<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Articles</title>
  </head>
  <body>
    <form method="POST" action="/articles/">
      <fieldset>
        <input name="title" type="text" placeholder="title" />
        <input name="description" type="text" placeholder="description" />
        <input name="likes" type="number" placeholder="likes" />
        <input name="author" type="text" placeholder="author" />
        <input type="submit" value="submit" />
      </fieldset>
    </form>
  </body>
</html>
