<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p>Welcome to my Blog</p>
    <a href="/articles/">
      <button>Read Articles</button>
    </a>
    <a href="/articles/new">
      <button>Add Articles</button>
    </a>
  </body>
</html>
